<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Blank Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <h1 class="text-center text-sm-center text-lg-center text-xl-center w-100 d-lg-flex">Character Creator</h1>
            </div>
            <div class="row">
                <h2 class="text-center text-sm-center text-lg-center text-xl-center">Gender</h2>
            </div>
            <div class="row">
                <h2 class="text-center text-sm-center text-lg-center text-xl-center">Race</h2>
            </div>
            <div class="row">
                <h2 class="text-center text-sm-center text-lg-center text-xl-center">Gender</h2>
            </div>
            <div class="row" id="app">
                <div class="col-md-6">
                    <div class="row" v-for="ability in abilities" v-on:click="selectAbility(ability)">
                        <div class="col-md-4">
                            <p>{{ability.name}}</p>
                        </div>
                        <div class="col-md-2">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary">+</button>
                                <button type="button" class="btn btn-secondary">-</button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <p>{{character.abilities[ability.name]}}</p>
                        </div>
                        <div class="col-md-2">
                            <p>18</p>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
                <div class="col-md-6"> 
                    <div class="card"> 
                        <img class="card-img-top" src="http://pinegrow.com/placeholders/img12.jpg" alt="Card image cap"> 
                        <div class="card-body"> 
                            <h4 class="card-title">{{selectedAbility.full_name}}</h4> 
                            <h6 class="card-subtitle mb-2 text-muted">{{selectedAbility.name}}</h6> 
                            <p class="card-text" v-for="descline in selectedAbility.desc">{{descline}}</p>
                        </div>                         
                    </div>
                </div>
            </div>
            <div class="row"></div>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
        <script src="main.js"></script>
    </body>
</html>
