<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Blank Template for Bootstrap</title>
        <!-- Bootstrap core CSS -->
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div class="container" id="app">
            <div class="row">
                <h1 class="text-center text-sm-center text-lg-center text-xl-center w-100 d-lg-flex">Character Creator</h1>
            </div>
            <div class="row">
                <h2 class="text-center text-sm-center text-lg-center text-xl-center">Gender</h2>
            </div>
            <div class="row">
                <h2 class="w-100 text-lg-left text-sm-left text-left text-xl-left">Race</h2>
                <div class="col-md-5 col-lg-5">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-6 col-lg-6">
                                <button type="button" class="btn btn-secondary w-100" v-on:click="">&lt;</button>                                 
                            </div>
                            <div class="col-md-6 col-lg-6">
                                <button type="button" class="btn btn-secondary w-100" v-on:click="selectNextRace(ui.selectedRace)">&gt;</button>                                 
                            </div>
                        </div>
                        <div class="container">
                            <img class="card-img-top w-100" alt="Card image cap" style="width:100%;" src="http://pinegrow.com/placeholders/img16.jpg"/>
                        </div>
                        <div class="card-body">
                            <h3>{{character.race.name}}</h3>
                            <p class="card-text"><b>Speed</b>: {{character.race.speed}} <b>Size</b>: {{character.race.size}}</p>
                            <p class="card-text"><p>{{character.race.alignment}} </p></p>
                        </div>
                    </div>                     
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="row">
                        <h4 class="w-100">Languages</h4>
                        <p>{{character.race.language_desc}}</p>
                    </div>
                    <div class="row w-100">
                        <h4 class="w-100">Starting Proficiencies</h4>
                        <div class="row w-100">
                            <p v-for="proficiency in character.race.starting_proficiencies" class="w-auto">{{proficiency.name}},&nbsp</p>
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="w-100">Optional Proficiencies</h4>
                        <div class="btn-group" role="group" aria-label="Basic example" v-for="proficiency in character.race.starting_proficiency_options.from">
                            <button type="button" class="btn btn-secondary ml-1 mr-1" v-on:click="">{{proficiency.name}}</button>
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="w-100">Traits</h4>
                        <div class="row w-100">
                            <p v-for="trait in character.race.traits" class="w-auto">{{trait.name}},&nbsp</p>
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="w-100">Ability Bonuses</h4>
                        <div class="row w-100">
                            <p v-for="bonus in character.race.ability_bonuses" class="w-auto">{{bonus}},&nbsp</p>
                        </div>
                    </div>                     
                </div>
            </div>
            <div class="row">
                <h2 class="text-center text-sm-center text-lg-center text-xl-center">Abilities</h2>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row" v-for="ability in api.abilities" v-on:click="selectAbility(ability)">
                        <div class="col-md-4 col-sm-4 col-2">
                            <p>{{ability.name}}</p>
                        </div>
                        <div class="col-md-2 col-sm-3 col-3">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="button" class="btn btn-secondary" v-on:click="abilityRaise(ability)">+</button>
                                <button type="button" class="btn btn-secondary" v-on:click="abilityLower(ability)">-</button>
                            </div>
                        </div>
                        <div class="col-3 col-lg-3 col-sm-3 col-md-3">
                            <p>{{character.abilities[ability.name]}}</p>
                        </div>
                        <div class="col-md-2 col-sm-2 col-3">
                            <p>18</p>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>
                <div class="col-md-6"> 
                    <div class="card"> 
                        <img class="card-img-top" src="http://pinegrow.com/placeholders/img12.jpg" alt="Card image cap"> 
                        <div class="card-body"> 
                            <h4 class="card-title">{{ui.selectedAbility.full_name}}</h4> 
                            <h6 class="card-subtitle mb-2 text-muted">{{ui.selectedAbility.name}}</h6> 
                            <p class="card-text" v-for="descline in ui.selectedAbility.desc">{{descline}}</p>
                        </div>                         
                    </div>
                </div>
            </div>
            <div class="row"></div>
        </div>
        <!-- Bootstrap core JavaScript
    ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/popper.js"></script>
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
        <script src="main.js"></script>
        <script src="d20.js"></script>
    </body>
</html>
